.custom-logo-container {
    text-align: center;
  }
  
  .skill-icon {
    transition: transform 0.3s, box-shadow 0.3s;
    transform: perspective(400px) rotateX(15deg) rotateY(15deg);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .skill-icon:hover {
    transform: perspective(400px) rotateX(0deg) rotateY(0deg);
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4);
  }
  
  .skill-text {
    margin-top: 10px;
    font-weight: bold;
  }
  